
*
    font-family: MuseoModerno, sans-serif
    box-sizing: border-box
.container
    max-width: 950px
    margin: 0 auto

@import '../base/_variables'
@import '../base/_animations'
@import '../blocks/_promo'
@import '../blocks/_header'
@import '../blocks/_buttons'
@import '../blocks/_benefits'
@import '../blocks/_consultation'
@import '../blocks/_carusel'
@import '../blocks/_catalog'
@import '../blocks/_reviews'
@import '../blocks/_footer'
@import '../blocks/_pageup'
@import '../blocks/_modal'
@import '../blocks/_titles'
@import '../blocks/_forms'
@import '../blocks/_media'
